:root{
    --h1:'Inter';
    --h2:'Roboto';
    --h3:'Roboto';
    --p:'Roboto';
    --primary:#322755;
    --primary-secondary:#0C0329;
    --primary-acento:#645690;
    --primary-light:#9B92B9;
    --secondary:#F45F18;
    --secondary-shadow:#802A00;
    --secondary-hover:#FF8B54;
    --secondary-light:#FFB490;
    --acento:#CABC42;
    --acento-secondary:#F2E784;
    --acento-light:#F8EFA6;
    --acento-shadow:#968809;
}

body{
    background-color: var(--primary-secondary);
}


#canvas{
    position: relative;
    left: 15%;
}


h1{
    color:white
}


.container h1{
    position: absolute;
    left: 1%;
    top: 1%;
}


.container .btn-coming-game a{
    position: relative;
    background: white;
    display: inline-block;
    height: 40px;
    width: 160px;
}


.container .btn-coming-game a span:hover{
    background: rgb(218, 115, 32);
    transition: 0.5s;
    color: white;
}


.container .btn-coming-game a:hover:before{
    inset: -3px;

}
.container .btn-coming-game a:hover:after {
    inset: -3px;
    filter: blur(30px);
    background-size:400%;
}


.container .btn-coming-game a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background:var(--secondary);
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

.container .btn-coming-game a::after,.container .btn-coming-game a::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg,#00ccff,#0e1538,#0e1538,#2ddd0a);
    transition: 0.5s;
    animation: animate-button 5s linear infinite;
}

.container .btn-coming-game{
    position:absolute;
    left: 62%;
}

