:root{
    --h1:'Inter';
    --h2:'Roboto';
    --h3:'Roboto';
    --p:'Roboto';
    --primary:#322755;
    --primary-secondary:#0C0329;
    --primary-acento:#645690;
    --primary-light:#9B92B9;
    --secondary:#F45F18;
    --secondary-shadow:#802A00;
    --secondary-hover:#FF8B54;
    --secondary-light:#FFB490;
    --acento:#CABC42;
    --acento-secondary:#F2E784;
    --acento-light:#F8EFA6;
    --acento-shadow:#968809;
}

.hero-section-mask{
    background-image: url(../img/hero-mask.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 423px;
    height: 618px;
    left: 145px;
    top: 15.3%;
}


.game-data #price{
    position:absolute;
    top: 25%;
    left: 4%;
    font-size: 1.5rem;
}

.game-data .free-day {
    position: absolute;
    margin-left: 2px;
    margin: 0;
    top:48%;
    left: 4%;
    font-size: 0.9rem;
}

.game-data p{
    position: absolute;
    margin-left: 2px;
    margin: 0;
    top:10%;
    left: 4%;
    font-size: 1.4rem;
    font-weight: bold;
}

.card-game-home,.card-game-cart-home{
    position: relative;
    width: 270px;
    height: 360px;
}

.game-data .btn-game{
    position: absolute;
    top: 70%;
    left:30%;
}

.card-game-cart-home .game-data .btn-game{
    position: absolute;
    top: 70%;
    left:30%;
}



.tag-free{
    top: 0.5rem;
    position: absolute;
    background: yellow;
    height: 2.5rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 8rem;
}

.tag-free h3{
    margin-top: 0.5rem;
    text-align: center;
    color: black;
}

.card-game-home img{
    width: 270px;
    height: 273px;
    left: 0px;
    top: 1px;
}

.card-game-home #tag{
    position:absolute;
width: 102px;
height: 32px;
left: 0px;
}

.game-data{
    position: relative;
    left: 0;
    background:var(--primary);
    width: 270px;
    top: -4px;
    height: 150px;
}

.game-card-description{
    width: 100%;
    height: 17.5rem;
    background: var(--primary);
    display: flex;
}



.game-card-text h2{

    margin-bottom: 4rem;
}


.game-card-description h2, .game-card-description p{
    margin-left: 3rem;
}

.game-description{
    display: flex;
    flex-direction: column;
    width: 80rem;
    height: 75.1rem;
    grid-row: 3;
    padding: 3rem;
    gap: 4rem;
}

.hero-section h1{
    position: relative;
    width: 258px;
    height: 225px;
    left: 61%;
    top: 200px;
}

.hero-section-game-title{
    background-image: url(../img/hero-gametitle.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    width: 258px;
    height: 225px;
    left: 861px;
    top: 220px;
}

.hero-section button{
    background: var(--secondary);
    color: white;
    font-family: var(--p);
    position: relative;
    height: 32px;
    width: 92px;
    left: 65%;
    top: 0px;
    border-radius: 7px;


}

.hero-section{
    background-image: url(../img/hero-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/-1;
    width: 100%;
    height: 41.5rem;
}


a{
    font-family: var(--p);
}

li{
    font-family: var(--p);
}

body{
    background-color: var(--primary-secondary);
    margin: 0;
    color: white;
}

p{
    font-family: var(--p);
    font-size: 1rem;
}

h2{
    font-family: var(--h2);
    font-size: 1.5rem;
}

h3{
    font-family: var(--h3);
}

h1{
    font-family: var(--h1);
    font-size: 2.1rem;
}

header{
    background-color:var(--primary);
    display: flex;
    justify-content:space-between;
}



#content{
    visibility: hidden;
}


.screen-icon{
    background-image: url(../img/screen-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 100%;
    width: 2rem;
}

.video-icon{
    background-image: url(../img/video-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 90%;
    width: 2rem;
}

.star-icon{

    background-image: url(../img/star-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    cursor: pointer;

}
.joystick-icon{
    background-image: url(../img/joystick-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    cursor: pointer;

}
.comment-icon{
    background-image: url(../img/comment-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    cursor: pointer;

}

.user-name{
    position: absolute;
    left: 4%;
    top: 15%;
    font-size: 2.1rem;
}



.burger-menu h1{
    margin-left: 2rem;
}

.menu-user ul li, .burger-menu ul li{
    list-style: none;
    font-size: 20px;
    margin-top: 2rem;
}


.menu-user .social-icons{
    position: absolute;
    bottom:10%;
    left: 5%;
}


.close-icon{
    position: absolute;
    background-image: url(../img/close-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 3rem;  
    top: 2rem;
    right: 1.7rem;
    width: 10%;
    cursor: pointer;
}
.frame-separator{
    position: absolute;
    width: 90%;
    height: 6px;
    background:white;
    left: 4.5%;
    top: 30rem;
}

#inicio{
    margin-top: 5rem;
}

.menu-user ul{
    margin-left: -1rem;
}

.form-user-image{
    position: absolute;
    height: 63px;
    width: 64px;
    background-size: contain;   
    left:3%;
    margin-top: 1.2rem;


}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(12,auto);
}

.container{
    flex-direction: column;
}

.text{
    display: flex;  
    margin-left: 6rem;
    gap: 1rem;
}

.text h2{
    margin: 0;
    margin-top: 0.8rem;
    margin-left: 2rem;
}


.user-image{
    background-image: url(../img/user-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 9rem;
    width: 9rem;

}
/*left: 69.5%;
width: 439px;*/

.menu-user.active, .burger-menu.active{
    left: 0%;
}
.menu-user , .burger-menu{
    transition: 0.3s;
    left: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
}

.form-item .container p{
    margin-left: 2rem;
}




.form-section{
    width: 76.5rem;
    height: 42rem;
    grid-column: 1/3;
    grid-row: 9;
}


.form-item{
    height: 6.8rem;
    width: 75.5rem;
    background: var(--primary);
    margin-top: 2rem;
}


.message{
    margin: 0;
    position: absolute;
    left: 9%;
    margin-bottom: 89;

}


.form-item .form-icons {
    width: 50%;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 11%;
    top: 25px;
}

.form-item .form-icons i{
    margin: 0;
   
    font-size: 1.5rem;
}

.form-item .form-icons i:hover{
    cursor: pointer;
}

.form-item p#answer-button{
    position: relative;
    margin: 0;
    width:0;
    top: 5%;
    left: 21%;
}

.form-item .form-icons i#comment-icon{
    margin-left: 1.3rem;
}


.footer-section{
    margin-top: 8rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: var(--primary);
    grid-row: 11;
    grid-column: 1/-1;
}

.footer-section div{
    width: 136px;
    margin-left: 1rem;
}

.social-icons{
    background-image: url(../img/sociallinks.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 143px;
    height: 35px;
}


.form-user-message{
    width: 1208px;
    background: white;
    height: 91px;
    background-image: url(../img/user-message.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.menu-hierarchy,.carousel-img-title,.help-section,
.video-section,.story-section, .form-section{
    margin-left: 1rem;
}

.story-section{
    grid-column: 1/3;
    grid-row: 8;
    padding: 1rem;
}
ul.breadcrumb{
    padding: -5px 35px;
    list-style: none;
}

ul.breadcrumb li{
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before{
    padding: 8px;
    content: "/\00a0";
}

ul.breadcrumb li a{
    color: white;
    text-decoration: none;
}

ul.breadcrumb li a:hover{ 
    text-decoration: underline;
}

.instruction-section{
    grid-column: 1/3;
    grid-row: 4;
}

.game-layout{
    background-image: url(../img/carousel-img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 82rem;
}

.game-menu{
    grid-column: 1/3;
    margin: 2rem;
    display: flex;
    
}

.share-button{
    position: absolute;
    left: 50%;
}

.share-button button{
    display: flex;
    width: 6rem;
    align-items: center;
    background: var(--acento-light);
    border-radius: 7px;
    font-family: var(--p);
    padding: 5px;
}

.share-button button img{
        margin-left: 0.3rem;
}

.text-container{
    background:var(--primary);
    width: 90%;
    padding: 1rem;
}

.navbar-aside{
background: var(--primary-light);
left: 4%;
width: 73px;
height: 682px;
top: 18%;
}


.navbar-aside ul {
    list-style: none;
    padding: 0;
    align-items: center ;

}

.navbar-aside li{
    padding: 0;
    margin-left: 20px;
    margin-top: 30px;
}


#load-percentage{
    position: absolute;
    left: 48%;
    top: 60%;
}

#load-bar{
    position: fixed;
    border: 1px solid var(--secondary);
    background: var(--primary-secondary);
    height: 30px;
    left: 20%;
    top: 70%;
    border-radius: 10px;
    max-width: 300px;
    width: 300px;
}

#loading{
    position: fixed;
    width: 0;
    max-width: 300px;
    height: 30px;
    background: var(--secondary);
    left: 20%;
    top: 70%;
    border-radius: 10px;
    animation: load 7s linear;
}


.recent-section{
    text-align: center;
}

.slider{
    background-image: url(../img/Game.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    width: 100%;
    height: 250px;

}


.video{
    background-image: url(../img/video.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 76.4rem;
    height: 35rem;
}
.video-section{
    grid-row: 6;
    grid-column: 1/3;
    width: 76rem;
    height: 40rem;
}
@keyframes load {
    
    33.3% {
        width: 33.3%;
    }
    66.6%{
        width: 66.6%;
    }

    100% {
        width: 100%;
    }
}

header{
    background-color: var(--primary);
    height: 70px;
    justify-content: space-between;
}

.logo{
    background-image: url(../img/Logo.png);
    background-size: cover;
    width: 4.8rem;
}

.profile{
    background-image: url(../img/user-image.png);
    background-size: cover;
    align-self: center;
    position: absolute;
    right: 15%;
    width: 2.1rem;
    height: 40px;
    cursor: pointer;
}

.menu{
    background-image: url(../img/Menu.png); 
    align-self: center;
    background-size: cover;
    margin-right: 10px;
    width: 2.1rem;
    height: 40px;
    cursor: pointer;
}

.character-card{
    width: 270px;
    border-radius: 10px;
height: 390px;
overflow: hidden;





}
.character-card img{
width: 270px;
height: 390px;
border-radius: 10px;

}

.character-card:hover h1{
    opacity: 0;
}

.character-card:hover img{
    transform: scale(1.3);
    transition: 1s;
}

.card-overlay-1{
    position: relative;
    background-color: rgba(0, 0, 0,0.6);
    bottom: 123%;
    width: 270px;
    height: 390px;
    border-radius: 10px;
    opacity: 0;
}

.card-overlay-2{
    position: relative;
    background-color: rgba(0, 0, 0,0.6);
    bottom: 123%;
    width: 270px;
    height: 390px;
    left: 0%;
    border-radius: 10px;
    opacity: 0;
}

.card-overlay-1:hover , .card-overlay-2:hover{
    opacity: 1;
}


.character-card h1{
    position: relative;
    top: -16%;
}


.slider-inner{
    display: flex;
    justify-content: space-between;
    width: 2000px;
}

.slider-inner .character-card > *{
    text-align: center;
}

.slider-wrap{
    grid-column: 1/-1;
    grid-row: 2;
    margin-left: 1rem;
    cursor: grab;


}

.slider-characters{
    height: 450px;
    width: 100%;
    overflow: scroll;
}


.progress-bar-inner{
    width: 0;
    background: var(--primary);
    height: 10px;
}


.slider-characters::-webkit-scrollbar{
    display: none;
}


.main-carousel{
    width: 26rem;
    height: 26rem;
}


.main-carousel .main-carousel-button{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 35%;
    border: none;



}
.main-carousel .main-carousel-button:hover{
    cursor: pointer;
}

.main-carousel .text-carousel{
    position: absolute;
    text-align: center;
    top: 50%;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
}


.main-carousel .btn-game-lobo{
    position: absolute;
    top: 60%;
    left: 35%;
}

.main-carousel .prev{
    background-image: url(../img/vector1.png);
    background-size: cover;
    left: 1rem;
}
.main-carousel .next{
    background-image: url(../img/vector2.png);
    background-size: cover;
    right: 0.1rem;

}

.main-carousel ul{
    list-style: none;

}

.main-carousel img{
    width:26rem;
}


.main-carousel .slide{
    position: absolute;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
}

.main-carousel .slide[data-active],.main-carousel .text-carousel[data-text-active]{
    opacity: 1;
}




.carousel-item img{
    width: 270px;
    height: 390px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

/*.carousel-item:hover{
    transform: scale(1.3);
    transition: 0.7s;
}*/


.carousel{
    margin: 1rem;
    grid-column: 1/3;
}


.carousel-img{
margin: 1rem;
display: flex;
flex-direction: row;
padding: 0px;
gap: 30px;
width: 1232px;
height: 390px;

}



.vector1{
    background-image: url(../img/vector1.png);
    background-size: calc(56px);
    background-repeat: no-repeat;
    width:  90px;
    height: 90px;
}

.vector2{
    background-image: url(../img/Vector2.png);
    background-size: calc(60px);
    background-repeat: no-repeat;
    width:  90px;
    height: 90px;
}


.btn-game{
    background: var(--secondary);
    border-radius: 7px;
    width: 109px;
    height: 32px;
    left: 60px;
    top: 23px;
    color: white;
    font-size: 15px;
    border: none;
}

.btn-game span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-game span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-game:hover span {
    padding-right: 25px;
  }


.btn-game:hover span:after {
opacity: 1;
right: 0;
}




/****************/
/*** Lobo ******/
.btn-game-lobo:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn-game-lobo{
    background: var(--secondary);
    color: white;
    border: 2px solid  var(--primary); 
    padding: 16px 20px 30px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    left: 180%;
    top: 25%;
    width: 150px;
    height: 32px;
}

  .btn-game-lobo::after {
    content: "";
    background: var(--secondary-light);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .btn-game-lobo:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

.btn-game a{
    text-decoration: none;
    color: white;
}

.nav-list{
    left: 100%;
    max-width: 100%;
    

}

.element-scale:hover{
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
}

.coming-btn:hover{
    cursor: pointer;

}
.coming-btn{

    background:var(--acento-light);
    border-radius: 10px;
    -webkit-text-stroke: 0.8px black;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a{
    list-style-type: none;
    display: none;
}

.game-container{
    width: 100%;
    grid-column: 1/3;
}

.game-card{
    width: 268px;
height: 360px;

}

.frame{
    margin-top: 7rem;
}



@media screen and (min-width:800px) {
    
    .profile{
        right: 10%;
    }
    .footer-section{
        margin-top: 8rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background: var(--primary);
        grid-row: 11;
        grid-column: 1/-1;
    }
    .slider-wrap{
        margin-left: 2rem;
    }
}


@media screen and (min-width:1100px) { 

    .main-carousel .btn-game-lobo{
        top: 45%;
        left: 50%;
    }


    #load-bar{
        border: 1px solid var(--secondary);
        background: var(--primary-secondary);
        height: 30px;
        position: absolute;
        left: 40%;
        top: 70%;   
        border-radius: 10px;
        max-width: 300px;
        width: 300px;
    }
    
    #loading{
        width: 0;
        max-width: 300px;
        height: 30px;
        background: var(--secondary);
        position: absolute;
        left: 40%;
        top: 70%;
        border-radius: 10px;
        animation: load 22s linear;
    }

    .main-carousel h1{
        margin-left: 2rem;
        
    }

    .main-carousel{
        grid-column: 1/-1;
        width: 100%;
        grid-row: 1;
    }

    .main-carousel .text-carousel{
        top: 30%;
        left: 50%;
    }


    .main-carousel .text-carousel h2{ 
        font-size: 35px;
    }


    .main-carousel ul li img{
        width: 100%;
        height: 290px;
    }

    .profile{
            right: 5%;

    }

    .main-carousel .main-carousel-button{
        height: 50px;
        width: 50px;
    }
    .main-carousel .prev{
        left: 0.0rem;
    }
    .main-carousel .next{
        right: 4rem;
    }

    .main-carousel .btn-game{
        left: 50%;
        top: 45%;
    }
    
   
    .burger-menu #mobile-version-tag{
        display: none;
    }
    

    .navbar{
        position: absolute;
        left: 6%;
    }

    .menu-user.active, .burger-menu.active{
        left: 60%;
    }

    .menu-user,.burger-menu{
        width: 40%;
        height: 80%;
    }


        .nav-list a {
            display: block;
            text-decoration: none;
            color:white;
            padding: 10px;
            margin-left: 70px;
        }

    .nav-list{
        display: flex;
        justify-content: space-around;
    }


    .menu-user .user-name{
        top: 20%;
    }


}
